<div class="mb-3">
    <input type="number" style="font-size: 120%;" id="cajaID" class="form-control form-control-alternative text-center font-weight-bold" #caja (keyup)="agregarProducto(caja.value)">
</div>

<table class="table table-light table-borderless" style="border-radius: 10px;">
    <thead>
        <th>Cantidad</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th class="text-right">Total</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let producto of PRODUCTOS">
            <td>{{ producto['cantidad'] }}</td>
            <td>{{ producto['producto']['nombre'] }}</td>
            <td>
                {{ producto['producto']['precio'] | currency: 'MXN':'symbol':'0.2-2' }}
            </td>
            <td class="text-right">
                {{ producto['cantidad'] * producto['producto']['precio'] | currency: 'MXN':'symbol':'0.2-2' }}
            </td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="delete(producto['_id'])">
        <i class="fa fa-trash"></i>
      </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="card shadow shadow-lg--hover mt-5">
    <div class="card-body">
        <div class="d-flex px-3">
            <div>
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="fa fa-dollar-sign"></i>
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="title text-success">Informacion de Venta</h5>

                <ul class="list-unstyled mt-5">
                    <li class="py-2">
                        <div class="d-flex align-items-end">
                            <div>
                                <div class="badge badge-circle badge-success mr-3">
                                    <i class="fa fa-box"></i>
                                </div>
                            </div>
                            <div>
                                <h5 class="mb-0">
                                    Mercancías:
                                    <strong>{{
                          MERCANCIAS | currency: 'MXN':'symbol':'0.2-2'
                        }}</strong>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="d-flex align-items-end">
                            <div>
                                <div class="badge badge-circle badge-success mr-3">
                                    <i class="fa fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div>
                                <h5 class="mb-0">
                                    Total:
                                    <strong>{{
                  TOTAL | currency: 'MXN':'symbol':'0.2-2'
                }}</strong>
                                </h5>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-success btn-block" (click)="cobrar()">
        Cobrar
      </button>
            </div>
        </div>
    </div>
</div>