<section class="section section-lg">
    <div class="container pb-200">
        <div class="row text-center justify-content-center">
            <div class="col-lg-10">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="fa fa-check"></i></span>
                    <span class="alert-inner--text"> Ya corregí lo de la direccion de los clientes.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <h2 class="display-3 text-white text-proto">
                    SERVICIO AUTOMOTRIZ DIAZ
                </h2>
                <p class="lead text-white text-proto" style="font-size: 500%;">7.0</p>
            </div>
        </div>
        <div class="row row-grid mt-5">
            <div class="col-lg-4 text-center">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle">
                    <i class="fa fa-money-bill-wave-alt text-danger"></i>
                </div>
                <h5 class="text-white mt-3">Venta de Mostrador</h5>
                <p class="mt-3 text-white text-justify">
                    Realiza una <span class="font-weight-bold">venta de mostrador</span>.
                    <br /> &nbsp;
                </p>
                <button class="btn btn-white bgn-lg btn-block" (click)="irServicios()">
          Ir a Venta
        </button>
            </div>
            <div class="col-lg-4 text-center">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle">
                    <i class="fa fa-paperclip text-danger"></i>
                </div>
                <h5 class="text-white mt-3">Orden de Servicio</h5>
                <p class="mt-3 text-white text-justify">
                    Crear una <span class="font-weight-bold">orden de servicio</span>, selecciona y/o crea clientes y vehiculos.
                </p>
                <button class="btn btn-white bgn-lg btn-block" (click)="irOrden()">
          Crear Servicio
        </button>
            </div>
            <div class="col-lg-4 text-center">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle">
                    <i class="fa fa-dollar-sign text-danger"></i>
                </div>
                <h5 class="text-white mt-3">Contabilidad</h5>
                <p class="mt-3 text-white text-justify">
                    Consultar la <strong>contabilidad</strong> automatica del software.
                </p>
                <button class="btn btn-white bgn-lg btn-block" (click)="irContabilidad()">
          Ir a Contabilidad
        </button>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
</section>