<div class="row p-2">
    <div class="col-3">
        <h5 class="mb-0">Departamentos: </h5>
    </div>
    <div class="col-9">
        <select class="form-control-alternative form-control">
      <option [ngValue]="departamento['_id']" *ngFor="let departamento of DEPARTAMENTOS">{{ departamento.nombre }}</option>
    </select>
    </div>


</div>

<hr>
<form (ngSubmit)="guardar(f)" #f="ngForm">
    <div class="form-group">
        <span>Agregar Departamento</span>
        <input type="email" class="form-control form-control-alternative" placeholder="NOMBRE" [(ngModel)]="departamento.nombre" name="nombre">

    </div>

    <button class="btn btn-success btn-block"><i class="fa fa-check"></i></button>
</form>